# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
yarn.lock
notes
graphql.schema.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.contentful-codegen

# vercel
.vercel

# fix-contentful-schema
fix-contentful-schema/.vscode
fix-contentful-schema/yarn.lock
fix-contentful-schema/build
fix-contentful-schema/node_modules